.header-container {
  height: 60px;
  background: #282c34;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;

  &_key {
    background: #f2f2f2;
    padding: 5px 20px;
    border-radius: 2px;
    user-select: none;
    &:hover{
      cursor: pointer;
      background: #8888;
    }
  }
}
