.form {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

  &__item {

    &_container {
      display: flex;
      flex-direction: column;
    }

    &_label {
      font-size: 17px;
    }

    &_error {
      font-size: 11px;
      color: red;
    }

    &_input {
      border: none;
      background: #f2f2f2;
      border-bottom: 1px solid #888888;
      height: 30px;
      margin: 5px 0;
      outline:none;
      &:hover{
        border: none;
        border-bottom: 1px solid #888888;      }
    }
    &:focus{
      border: none;
      border-bottom: 1px solid #888888;
    }
  }
  &_button{
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    width: 100%;
  }
}

