.product-card {
  width: 30%;
  margin-top: 30px;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_img {
    width: 100%;
  }

  &_key {
    background: #c2c2c2;
    padding: 5px 25px;
    margin: 15px 0;
    border-radius: 3px;
    user-select: none;

    &:hover{
      cursor: pointer;
      background: #d2d2d2;
    }
  }
}
